## Summary of BART base score results
### On automatic metrics

In [3]:
# load scores
import pandas as pd

df = pd.read_csv("base_scores.csv", sep=",", header=0)
df

,original,simplified,generated,sari,bleu,bert_f1,bert_pre,bert_rec
0,彼らは凍死した。,彼らは寒くなりすぎて、死んでしまった。,彼らは寒くて死んだ。,91.666667,0.311604,0.904811,0.939774,0.872357
1,では始めましょう。,では始めましょう。,では始めましょう。,NaN,NaN,NaN,NaN,NaN
2,その子供たちは歌いながら去って行った。,その子供たちは歌いながらどこかへ行った。,その子供たちは歌いながら出て行った。,91.666667,0.592890,0.924027,0.945746,0.903284
3,彼はクラスの他のどの少年よりも速く泳げる。,彼はクラスの他のどの少年よりも速く泳ぐことができる。,彼はクラスの他のどの少年よりも速く泳ぐことができる。,100.000000,0.900088,1.000000,1.000000,1.000000
4,彼女は私の成功をねたんでいる。,彼女は私の成功を悪く思っている。,彼女は私の成功を見て自分もそうなりたいと思っている。,91.666667,0.526009,0.890681,0.850680,0.934629
...,...,...,...,...,...,...,...,...
4995,今晩、うちに泊まってはどうですか。,今日の夜、うちで夜を過ごしてはどうですか。,今夜、うちに滞在してはどうですか。,91.666667,0.381811,0.868071,0.885671,0.851157
4996,彼は読書のしすぎで目を痛めた。,彼は長い時間本を読んで目を痛くなった。,彼は本を読むことが不足していると思った。,91.666667,0.264266,0.807420,0.812987,0.801928
4997,彼は自分の車を持っている。,彼は自分の車を持っている。,彼は自分の車を持っている。,NaN,NaN,NaN,NaN,NaN
4998,そのチームは誰がコーチをしているのですか。,そのチームは誰が指導しているのですか。,そのチームは誰が指導をしているのですか。,91.666667,0.794069,0.981463,0.981463,0.981463
4999,世の中にはよいものがたくさんある。,世界にはいいものがたくさんある。,世界にはよいものがたくさんある。,91.666667,0.622070,0.962328,0.956015,0.968725

In [2]:
# median and mean of each scores

sari_mean = df['sari'].mean()
bleu_mean = df['bleu'].mean()
bertf1_mean = df['bert_f1'].mean()

print("bleu", bleu_mean)
print("sari", sari_mean)
print('bert', bertf1_mean)

bleu 0.6664571788618259
sari 94.34949424485525
bert 0.9438493610426321

#### Manual Evaluation

In [ ]:
# TODO